<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pboard">
  <insert id="insertpboard" parameterType="pboard">
  	insert into pboard values(seq_pboard.nextval,#{pboardId},#{pboardTitle},#{pboardContent},#{pboardWriter},default,default,1)
  <!-- <selectKey keyProperty="pboardWriter" resultType="string" order="BEFORE">
	select member_name from  pboard join member on pboard.pboard_Id=member.member_sq
  </selectKey> --> 
  </insert>
  <insert id="insertAttachment" parameterType="attachment">
  insert into attachment values(seq_attach.nextval,#{pboardNo},#{orginalFilename},#{renameFilename},default,default)
   <selectKey keyProperty="pboardNo" resultType="_int" order="BEFORE">
 		select seq_pboard.currval from dual
  </selectKey>
  </insert>
  <select id="selectpboard" resultType="pboard">
  select * from pboard
  </select>
  
  <select id="selectOnepboard" parameterType="_int" resultType="pboard">	
  select *from pboard where pboard_no=#{pboardNo}
  </select>
</mapper>
