<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Info">

<!-- <select id="selectInfoOne" parameterType="map" resultMap="Info">
		SELECT * FROM INFO
	</select>
-->

 	<select id="selectInfoList" resultType="Info">
		SELECT * FROM INFO
	</select> 
	
		
</mapper>
