<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="meeting">
  <insert id="insertmboard" parameterType="map">
  	insert into collab_board values(seq_meet.nextval,#{mtitle},#{mcontent},#{simcontent},#{mwriter},#{memail},#{mphone},#{sdate},#{fdate},#{langs},#{back},#{front},#{desgin},#{address},#{rdate},#{memberSq})
  </insert>
  <insert id="insertmattach" parameterType="mattachment" >
  insert into m_attachment values(seq_mattach.nextval,#{pboardSq},#{originalFilename},#{renamedFilename},default,default)
   <selectKey keyProperty="pboardSq" resultType="_int" order="BEFORE">
 		select seq_meet.currval from dual
  </selectKey>
  </insert>
  <resultMap type="mboard" id="mboardmap">
	<result column="collab_lang" property="collabLang" typeHandler="strarr"/>
</resultMap>
  <select id="selectmList" resultMap="mboardmap" >
  	select collab_sq,collab_title,collab_writer,collab_simcontent,collab_back,collab_front,collab_desgin from collab_board
  </select>
  <select id="selectminfo" resultMap="mboardmap" parameterType="_int"> 
  	select * from collab_board where collab_sq=#{no}
  </select>
  <!--모임신청하는로직-->
  <insert id="inserttapply" parameterType="com.spring.itjobgo.meeting.model.vo.Tmpapply">
  insert into tmp_apply values(seq_apply.nextval,#{memberSq},#{postion},defalut,#{collabsq})
  </insert>
  <select id="selectmattach" resultType="mattachment" parameterType="_int">
  select * from m_attachment where pboard_sq=#{no}
  </select>
  <!--로그인한 사용자 이메일로 생성한 모임을 찾아서 그 모임에 신청을 한 사용자리스트를 반환-->
  <select id="selectapply" resultType="com.spring.itjobgo.meeting.model.vo.Tmpapply" parameterType="_int">
  	
  </select>
  <select id="selectmember" parameterType="String" resultType="com.spring.itjobgo.member.model.vo.Member">
  SELECT * FROM MEMBER WHERE Member_email=#{email}
  </select>
  <select id="selectListmember" parameterType="_int" resultMap="mboardmap" >
 SELECT * FROM COLLAB_BOARD WHERE MEMBER_SQ=#{memberSq} 
  </select>
</mapper>
