<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="resume">

	<!-- 이력서 리스트 불러오기 -->
  <select id="selectResumeList" resultType="resume_list" parameterType="_int">
  	SELECT * FROM RESUMELIST WHERE MEMBER_NO=#{memberSq} ORDER BY RESUMELIST_NO DESC
  </select>


	<!-- 이력서(개인정보) 등록-->
  <insert id="insertResume" parameterType="resume">
  	INSERT INTO RESUME VALUES(
  		RESUME_SEQ_NO.NEXTVAL,
  		#{memberNo},
  		#{rname},
  		#{engName},
  		#{birth},
  		#{gender},
  		#{postcode},
  		#{address},
  		#{addressDetail},
  		#{telephone},
  		#{rphone},
  		#{remail},
  		#{rtitle},
  		DEFAULT
  	)
  		
  </insert>
  
  	<!-- 이력서(학력) 등록-->

  <insert id="insertResumeSchool" parameterType="resume_school">
  	INSERT INTO Resume_school VALUES(
  		RESUME_SCHOOL_SEQ_NO.NEXTVAL,
  		#{resumeNo},
  		#{school1},
  		#{schoolName1},
  		#{schoolStartDate1},
  		#{schoolFinishDate1},
  		#{major1},
  		#{education1},
  		#{school2},
  		#{schoolName2},
  		#{schoolStartDate2},
  		#{schoolFinishDate2},
  		#{major2},
  		#{education2}
  	)
  	  	<selectKey keyProperty="resumeNo" resultType="_int" order="BEFORE">
	 		SELECT RESUME_SEQ_NO.CURRVAL FROM DUAL
	  	</selectKey>
  		
  </insert>
  
  	<!-- 이력서(경력) 등록-->

  <insert id="insertResumeWork" parameterType="resume_work">
  	INSERT INTO Resume_work VALUES(
  		RESUME_WORK_SEQ_NO.NEXTVAL,
  		#{resumeNo},
  		#{workStartDate},
  		#{workFinishDate},
  		#{workName},
  		#{workLevel},
  		#{workState},
  		#{workDetail}
  	)
  	  	<selectKey keyProperty="resumeNo" resultType="_int" order="BEFORE">
	 		SELECT RESUME_SEQ_NO.CURRVAL FROM DUAL
	  	</selectKey>
  </insert>
  
  	<!-- 이력서(자격증) 등록-->

  <insert id="insertResumeLicense" parameterType="resume_license">
  	INSERT INTO Resume_license VALUES(
  		RESUME_LICENSE_SEQ_NO.NEXTVAL,
  		#{resumeNo},
  		#{licenseName},
  		#{licenseAgency},
  		#{licenseDate}
  	)
  	  	<selectKey keyProperty="resumeNo" resultType="_int" order="BEFORE">
	 		SELECT RESUME_SEQ_NO.CURRVAL FROM DUAL
	  	</selectKey>
  		
  </insert>
  
  	<!-- 이력서(외국어) 등록-->

  <insert id="insertResumeLanguage" parameterType="resume_language">
  	INSERT INTO Resume_language VALUES(
  		RESUME_LANGUAGE_SEQ_NO.NEXTVAL,
  		#{resumeNo},
  		#{languageName},
  		#{languageLevel},
  		#{languageTest},
  		#{languageScore},
  		#{languageDate}
  	)
  	  	<selectKey keyProperty="resumeNo" resultType="_int" order="BEFORE">
	 		SELECT RESUME_SEQ_NO.CURRVAL FROM DUAL
	  	</selectKey>
  		
  </insert>
  
  	<!-- 이력서(주요활동 및 수상) 등록-->

  <insert id="insertResumeActivity" parameterType="resume_activity">
  	INSERT INTO Resume_activity VALUES(
  		RESUME_ACTIVITY_SEQ_NO.NEXTVAL,
  		#{resumeNo},
  		#{activity},
  		#{activityStartDate},
  		#{activityFinishDate},
  		#{activityAgency},
  		#{activityWork},
  		#{activityDetail}
  	)
  	  	<selectKey keyProperty="resumeNo" resultType="_int" order="BEFORE">
	 		SELECT RESUME_SEQ_NO.CURRVAL FROM DUAL
	  	</selectKey>
  		
  </insert>
  
  	<!-- 이력서(프로젝트) 등록-->

  <insert id="insertResumeProject" parameterType="resume_project">
  	INSERT INTO Resume_project VALUES(
  		RESUME_PROJECT_SEQ_NO.NEXTVAL,
  		#{resumeNo},
  		#{projectPart},
  		#{projectStartDate},
  		#{projectFinishDate},
  		#{projectName},
  		#{projectWork},
  		#{projectDetail}
  	)
  	  	<selectKey keyProperty="resumeNo" resultType="_int" order="BEFORE">
	 		SELECT RESUME_SEQ_NO.CURRVAL FROM DUAL
	  	</selectKey>
  		
  </insert>
  
  	<!-- 이력서(해외경험) 등록-->

  <insert id="insertResumeAbroad" parameterType="resume_abroad">
  	INSERT INTO Resume_abroad VALUES(
  		RESUME_ABROAD_SEQ_NO.NEXTVAL,
  		#{resumeNo},
  		#{abroad},
  		#{abroadStartDate},
  		#{abroadFinishDate},
  		#{abroadCountury},
  		#{abroadAgency},
  		#{abroadDetail}
  	)
  	  	<selectKey keyProperty="resumeNo" resultType="_int" order="BEFORE">
	 		SELECT RESUME_SEQ_NO.CURRVAL FROM DUAL
	  	</selectKey>
  		
  </insert>
  

  <!-- 이력서 게시판 첨부파일 등록 -->
  
  <insert id="insertResumeAttachment" parameterType="resume_attachment">
  		INSERT INTO RESUME_ATTACHMENT VALUES(
  			RESUME_ATTACHMENT_SEQ_NO.NEXTVAL,
  			#{resumeNo},
  			#{originalFilename},
  			#{renamedFilename},
  			DEFAULT,
  			DEFAULT
  			)
  		<selectKey keyProperty="resumeNo" resultType="_int" order="BEFORE">
	 		SELECT RESUME_SEQ_NO.CURRVAL FROM DUAL
	  	</selectKey>
  </insert>
  
    <!-- 이력서 게시판 첨부파일 등록 -->
  
  <insert id="insertResumeList" parameterType="resume_list">
  		INSERT INTO RESUMELIST VALUES(
  			RESUMELIST_SEQ_NO.NEXTVAL,
  			#{memberNo},
  			#{resumeNo},
  			#{resumelistTitle},
  			#{resumelistWriter},
  			DEFAULT,
  			DEFAULT,
  			#{resumelistAttachment},
  			DEFAULT
  			)
  		<selectKey keyProperty="resumeNo" resultType="_int" order="BEFORE">
	 		SELECT RESUME_SEQ_NO.CURRVAL FROM DUAL
	  	</selectKey>
  </insert>
  
  
  
  <select id="selectResume" parameterType="_int" resultType="resume_all">
	  	select *
		from resume a 
			<!-- 조인 (학력사항) -->
			inner join resume_school b 
			on a.resume_no=b.resume_no
			<!-- 조인 (경력사항) -->
			inner join resume_work c
			on a.resume_no=c.resume_no
			<!-- 조인 (자격증) -->
			inner join Resume_license d
			on a.resume_no=d.resume_no
			<!-- 조인 (외국어) -->
			inner join Resume_language e
			on a.resume_no=e.resume_no
			<!-- 조인 (외부활동) -->
			inner join Resume_activity f
			on a.resume_no=f.resume_no
			<!-- 조인 (프로젝트) -->
			inner join Resume_project g
			on a.resume_no=g.resume_no
			<!-- 조인 (해외경험) -->
			inner join Resume_abroad h
			on a.resume_no=h.resume_no
			<!-- 조인 (파일첨부) -->
			inner join Resume_attachment i
			on a.resume_no=i.resume_no
			
		where a.resume_no=#{resumeNo}
  </select>
  
   <select id="selectAttachment" parameterType="String" resultType="String">
	  	SELECT renamed_filename FROM resume_ATTACHMENT where resume_no=#{resumeNo}
  	</select>
</mapper>
