<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- typealias -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />

	</settings>
	<typeAliases>

		<typeAlias
			type="com.spring.itjobgo.portfolio.model.vo.Attachment"
			alias="attachment" />
		<typeAlias
			type="com.spring.itjobgo.meeting.model.vo.Mattachment"
			alias="mattachment" />
		<typeAlias
			type="com.spring.itjobgo.portfolio.model.vo.Comment" alias="comment" />
		<typeAlias type="com.spring.itjobgo.meeting.model.vo.Mboard"
			alias="mboard" />


		<typeAlias type="com.spring.itjobgo.common.StringArrayType"
			alias="strarr" />

		<typeAlias type="com.spring.itjobgo.member.model.vo.Member"
			alias="member" />
		<typeAlias
			type="com.spring.itjobgo.member.model.vo.MemberPhoto"
			alias="memberPhoto" />

		<typeAlias
			type="com.spring.itjobgo.portfolio.model.vo.Pboard" alias="pboard" />

		<typeAlias
			type="com.spring.itjobgo.community.model.vo.CommunityBoard"
			alias="communityBoard" />

		<typeAlias
			type="com.spring.itjobgo.community.model.vo.CB_ATTACHMENT"
			alias="cb_attachment" />

		<typeAlias type="com.spring.itjobgo.info.model.vo.Info"
			alias="Info" />

		<typeAlias type="com.spring.itjobgo.qna.model.vo.QnaBoard"
			alias="qnaBoard" />

		<typeAlias
			type="com.spring.itjobgo.qna.model.vo.QB_ATTACHMENT"
			alias="qna_attachment" />

		<typeAlias type="com.spring.itjobgo.notice.model.vo.Notice"
			alias="Notice" />

		<typeAlias type="com.spring.itjobgo.resume.model.vo.Rboard"
			alias="rboard" />

		<typeAlias
			type="com.spring.itjobgo.resume.model.vo.RboardAttachment"
			alias="rboard_attachment" />
			
			<typeAlias
			type="com.spring.itjobgo.community.model.vo.CB_COMMENT"
			alias="CB_COMMENT" />	
			
			
			
	</typeAliases>

</configuration>
